<div class="bg-off-white pv4">
	<div class="ph0 mw7 center">


		<div class="w-100 mhn1-ns flex-ns mb0 bg-grey-1">

				<div class="ph0-ns w-75-ns bg-grey-2 ma0">

					{{ partial "top-news-story" . }}
					
					<!-- TOP STORY -->


					<div class="ph0-ns w-100-ns flex bg-grey-2 mt2">

						<!-- STORY 2a -->
						<div class="ph1-ns w-100-ns flex bg-primary mr1 pt6" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(https://i.imgur.com/3BubVFZ.png);background-size:cover">
							<div class="mw7 relative">
	        			<p class="b f5 lh-title mb3 white">PUBG beigginer guide</p>
	      			</div>
						</div>

						<!-- STORY 2b -->
						<div class="ph1-ns w-100-ns flex bg-primary mr1 pt6" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(https://i.imgur.com/lX7YiTP.png);background-size:cover">
							<div class="mw7 relative">
	        			<p class="b f5 lh-title mb3 white">mytla power workers go on strike</p>
	      			</div>
						</div>

					</div>

					<div class="ph0-ns w-100-ns flex bg-grey-2 mt2">

						<!-- STORY 3a -->
						<div class="pv3 ph1-ns w-100-ns flex bg-primary mh1" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(/img/zharky-image.jpg);background-size:cover">
							<a href="{{ .Permalink }}" class="no-underline pa3 mb2 db raise w-100">
								<p class="b f5 lh-title mb3 white">opinion: xbox</p>
								<p class="link b f6 dib white mb0">Read story →</p>
							</a>
						</div>

						<!-- STORY 3b -->
						<div class="pv3 ph1-ns w-100-ns flex bg-primary mh1" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(/img/zharky-image.jpg);background-size:cover">
							<a href="{{ .Permalink }}" class="no-underline pa3 mb2 db raise w-100">
								<p class="b f5 lh-title mb3 white">featured streamer</p>
								<p class="link b f6 dib white mb0">Read story →</p>
							</a>
						</div>

						<!-- STORY 3c -->
						<div class="pv3 ph1-ns w-100-ns flex bg-primary mh1" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(/img/zharky-image.jpg);background-size:cover">
							<a href="{{ .Permalink }}" class="no-underline pa3 mb2 db raise w-100">
								<p class="b f5 lh-title mb3 white">dinner recipe</p>
								<p class="link b f6 dib white mb0">Read story →</p>
							</a>
						</div>


					</div>

				</div>

				<div class="ph0-ns w-25-ns ma0">

					<div class="ph1-ns pv7 w-100-ns flex bg-primary mh2" style="background:url(https://i.imgur.com/uHWOTBU.png) no-repeat;background-size:contain"></div>

				</div>

		</div>







	</div>
</div>
