<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-start items-center center bg-black divider-grey relative">

	<!-- Logo -->
	<a href="/" class="ph3 pv2 db mr4 h-100 w3 flex-none">
		<img src="/img/logo3.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/esports" class="pa2 no-underline db">eSports</a></li>
		<li><a href="/culture" class="pa2 no-underline db">Culture</a></li>
		<li><a href="/video" class="pa2 no-underline db">Video</a></li>
		<li><a href="/guides" class="pa2 no-underline db">Guides</a></li>
		<li><a href="/streamers" class="pa2 no-underline db">Streamers</a></li>
		<li><a href="/opinion" class="pa2 no-underline db">Opinion</a></li>
	</ul>

</nav>
