
	<!-- <div class="w-100 mr1 pl3"> -->
	<div class="no-underline ph1 pv2 bg-grey-1  mb3 db raise w-100 mhn1-ns pa3  bb bw1 b--grey-2">
		<div>
			<iframe
			width="100%"
			height="300"
			src="https://www.youtube.com/embed/{{ .Params.youtube_id}}"
			frameborder="0"
			allow="encrypted-media">
		</iframe>
		</div>
		<a href="{{ .Permalink }}" class="no-underline ph1 pv2 mb0 db raise w-100 flex-ns mhn1-ns pa3">
			<div class="w-100-ns">
				<p class="mid-gray lh-title b mb0">{{ .Description }} </p>
				<p class="mb0 grey-3 f6">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
			</div>
		</a>

	</div>
