<div class="pl1 " >

    <div class="relative mb1 bw1 b--grey-2">
      <h1 class="f2 f3-l b di lh-title mb3 mw6 bb bw1 b--primary">Opinion</h1>
    </div>
    <div class="mw7 relative pb2">
      <p class="b f6 di lh-title mw6 mb2">The Empire did nothing wrong.</p>
    </div>

    <div class="mw7 relative pb2 mb2 ">
      <p class="f6 di lh-title  mw6">At Zharki News, we support PUBG's decision to sue Fortnite. It totally sucks when any disagreement ends up in court, and PUBG is 100% a salty bitch to sue - but Fortnite 100% would be no where without PUBG.</p>
    </div>

    <div class="mw7 relative pb2 mb2">
      <p class="f6 di lh-title  mw6">We just wish some of that effort went into improving the xbox version.</p>
    </div>

</div>
