{{ define "main" }}

<div class="bg-off-whitee pv4">

	<div class="mw7 center flex">

		<!-- LEFT COLUMN -->
		<div class="ph0 pv0 w-70-ns ma0" style="background-color: yellow">

			<!-- TOP STORY -->
			<div class="ph0 pv0 w-100-ns flex" style="background-color: orange">
				{{ range $index, $element := (sort (where .Data.Pages "Type" "posts") ".Params.sort_order" "asc") }}
					{{ if eq $index 0 }}
						{{ .Render  "li-1" }}
					{{ end }}
        {{ end }}
			</div>

			<!-- 2 STORIES -->
			<div class="ph0 pv0 w-100-ns flex" style="background-color: purple">
        {{ range $index, $element := (sort (where .Data.Pages "Type" "posts") ".Params.sort_order" "asc") }}
          {{ if eq $index 1 }}
            {{ .Render  "li-2" }}
          {{ end }}
          {{ if eq $index 2 }}
            {{ .Render  "li-2" }}
          {{ end }}
        {{ end }}
			</div>

			<!-- BANNER STORY -->
			<div class="ph0-ns w-100-ns flex" style="background-color: orange">
        {{ partial "ad-banner" . }}
			</div>
		</div>

		<!-- RIGHT COLUMN -->
		<div class="ph0 pv0 w-30 ma0" style="background-color: blue">
			{{ partial "ad-vertical" . }}
		</div>

	</div>

</div>

{{ end }}
